advanced-cache.php
index.php
uploads/
mu-plugins/
themes/*
!themes/storefront-child
themes/storefront-child/frontend
plugins/*
!plugins/scott-liu-personal-functions
upgrade/
lib/
.vscode
node_modules/